# Terraform state - NOTE: for prod use, recommend you use a secure backend, such as S3/GCS for
# terraform state - not storing state on local disk / repo
terraform.tfstate**
.terraform.tfstate.lock.info

# you don't need to commit this directory, even for dev use when you commit your `terraform.tfstate`
# it is cache of Terraform providers/modules retrieved from remotes
.terraform/**


# stuff our tf modules / init scripts produce, that shouldn't be under version control
build.sh
upgrade-terraform-modules.sh