aws_account_id                = "123123123123" # your AWS account ID here
aws_assume_role_arn           = "arn:aws:iam::123123123123:role/InfraAdmin" # role in that AWS account ID to assume
gcp_project_id                = "psoxy-acme-example"
gcp_org_id                    = "123123123123"
gcp_folder_id                 = "123123123123"
gcp_billing_account_id        = "123456-ABCDEFG-ABCDEFG"
google_workspace_example_user = "example@acme.com"
enabled_connectors = [
  "asana",
  "gcal",
  "gdirectory",
  "gdrive",
  "gmail",
  "google-meet",
  "google-chat",
  "hris",
  "slack-discovery-api",
  "zoom",
]
non_production_connectors = [] # use to mark any of the above as 'non-production' (NOTE: allows test calls that may expose PII)
caller_aws_arns = [
  # "arn:aws:iam::914358739851:root" # for production use, this should be Worklytics' AWS account; for testing, it can be your own AWS account or left blank if your user
]
caller_gcp_service_account_ids = [
  # "123456712345671234567" #21-digits
]
