
# ignore sa key file(s)
**connector-sa-key.json

# PEM files used in local cert generation; don't want to commit them
**.pem


# standard demos directory, so we can create demo examples for customers without mistakenly in a
# consistent location that won't be inadvertently committed to repo
examples-demo/**
