#!/bin/bash
echo "Quick test of ${function_name} ..."

${command_cli_call} -u "${collector_endpoint_url}/.well-known/openid-configuration"
OPENID_CONFIG_RC=$?

${command_cli_call} -u "${collector_endpoint_url}/.well-known/jwks.json"
JWKS_RC=$?

${command_cli_call} -u "${collector_endpoint_url}${collection_path}" --method POST \
%{ if signing_key_arn != null ~}
--signing-key "aws-kms:${signing_key_arn}" \
--identity-issuer "${collector_endpoint_url}" \
%{ endif ~}
%{ if example_identity != null ~}
--identity-subject '${example_identity}' \
%{ endif ~}
--body '${example_payload}'
COLLECTION_RC=$?

exit $(( OPENID_CONFIG_RC + JWKS_RC + COLLECTION_RC ))

