#!/bin/bash

echo "Testing API Connectors ..."

%{ for instance_id, connector in api_instances ~}
%{ if connector.has_test_script }./test-${trimprefix(instance_id, environment_id_prefix)}.sh%{ endif }
%{ endfor }

echo "Testing Bulk Connectors ..."

%{ for instance_id, connector in bulk_instances ~}
%{ if connector.has_test_script }./test-${trimprefix(instance_id, environment_id_prefix)}.sh%{ endif }
%{ endfor }

echo "Testing Webhook Collectors ..."

%{ for instance_id, connector in webhook_collector_instances ~}
%{ if connector.has_test_script }./test-${trimprefix(instance_id, environment_id_prefix)}.sh%{ endif }
%{ endfor }
