#!/bin/bash
echo "Quick test of ${function_name} ..."

${command_cli_call} -u "${collector_endpoint_url}/.well-known/openid-configuration"

${command_cli_call} -u "${collector_endpoint_url}/.well-known/jwks.json"

${command_cli_call} -u "${collector_endpoint_url}${collection_path}" --method POST \
%{ if signing_key_id != null ~}
--signing-key "gcp-kms:${signing_key_id}" \
--identity-issuer "${collector_endpoint_url}" \
%{ endif ~}
%{ if example_identity != null ~}
--identity-subject '${example_identity}' \
%{ endif ~}
--body '${example_payload}'

