#!/bin/bash

METHOD=$${1:-"GET"}
API_PATH=$${2:-${try(example_api_get_requests[0].path, "")}}
CONTENT_TYPE=$${3:-""}
BODY=$${4:-""}}

echo "Quick test of ${function_name} ..."

${command_cli_call} -u "${proxy_endpoint_url}/" --health-check

${command_cli_call} -u "${proxy_endpoint_url}$API_PATH" ${impersonation_param} -m $METHOD -b "$BODY"

%{ if enable_async_processing ~}
${command_cli_call} -u "${proxy_endpoint_url}$API_PATH" ${impersonation_param} -m $METHOD -b "$BODY" --async
%{ endif ~}

echo "Invoke this script with any of the following as arguments to test other endpoints:"

%{ for example_api_get_request in example_api_get_requests ~}
    printf "\t%s\n" "${example_api_get_request.method} '${example_api_get_request.path}'"
%{ endfor ~}
%{ for example_api_post_request in example_api_post_requests ~}
    printf "\t%s\n" "${example_api_post_request.method} '${example_api_post_request.path}' ${example_api_post_request.content_type} '${example_api_post_request.body}'"
%{ endfor ~}
