See Chat GPT documentation for the latest, but as of July 10, 2025, you must create an API key and fill that as a secret in your host platform. The Proxy will then use Basic Authentication when connecting to Chat GPT.

1 Copy the key immediately - you won’t see it again; then paste it as the `${path_to_instance_parameters}BASIC_AUTH_USER_ID` parameter value  in your proxy's host platform.