# Instructions for Connecting Gemini Usage Logs to Worklytics

NOTE: a Google Workspace with permission to via


  1. Navigate to the Google Workspace Admin Console -> Generative AI --> Gemini reports --> [User-level usage](https://admin.google.com/ac/reporting/report/gemini/user)
  2. Click "Download usage counts"
  3. Choose "Comma-separated values (.csv)" and click "Download"
  4. Wait for the file to be generated, then click "Download CSV"
  5. Upload the file to the `-input` bucket of your `gemini-usage` connector to Worklytics.


As of Feb 2025, usage logc

