name: 'validate tf'

# run everywhere; should be internally consistent

on:
  push:
    branches:
      - '**'

jobs:
  validate_tf_example_dev:
    strategy:
      matrix:
        example_path: [
                        'examples-dev/aws',
                        'examples-dev/aws-all',
                        'examples-dev/aws-google-workspace',
                        'examples-dev/aws-msft-365',
                        'examples-dev/gcp',
                        'examples-dev/gcp-google-workspace',
        ]
        terraform_version: [ '~1.3.0', '~1.4.0', '~1.5.0', '~1.6.0', '~1.7.0', '~1.8.0', '~1.9.0', 'latest' ]
    uses: ./.github/workflows/ci-terraform-example.yaml
    with:
      terraform_version: ${{ matrix.terraform_version }}
      example_path: ${{ matrix.example_path }}
